:root {
    --main_fond: "Roboto", sans-serif;
    --secondary_fond: 'Raleway', sans-serif;
    --accent_color: #2196F3;
    --title_text: #212121;
    --text_basic: #757575;
    --footer_color: rgba(255, 255, 255, 0.6);
    --first_color: #FFFFFF;
    --second_color: #000000;
    --background_first: #2F303A;
    --background_second: #F5F4FA;
    --button_accent: #188CE8;
}

body {
    font-family: var(--main_fond);
}

.link {
    text-decoration: none;
    color: var(--title_text);
}

.list {
    list-style: none;
}

.adress {
    font-style: normal;
}
/*=======header=====*/
.header {
    background: var(--first_color);
}

.logo {
    font-family: var(--secondary_fond);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second_color);

   /* border: 1px solid #000000;*/
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.logo_white {
    color: var(--second_color);
}
.logo_dark {
    color: var(--first_color);
}

.web {
color: var(--accent_color);
}

.nav_list .link.current {
    color: var(--accent_color);
}

.nav_list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--title_text); 
}

.nav_link:hover,
.nav_link:focus {
    color: var(--accent_color);
}
/*===contacts====*/
.contakt_mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text_basic);
}

.contakt_mail:hover,
.contakt_mail:focus {
    color: var(--accent_color);
}

.contakt_tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text_basic);
}
.contakt_tel:hover,
.contakt_tel:focus {
    color: var(--accent_color);
}
/*====Hero===*/
.hero {
    background: var(--background_first)

}

.hero_text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first_color);

}

.button {
    font-family: var(--main_fond);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--first_color);

    background: var(--accent_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button:focus,
.button:hover {
    background: var(--button_accent)
}
/*========особенности======*/
.skills {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title_text);
}

.skills_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text_basic);
}
/*======чем_мы_занимаемся======*/
.we_work_h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

color: var(--title_text); 
}
/*======наша_команда======*/
.team {
    background: var(--background_second);
}

.team_h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title_text); 
}

.team_card {
    background: var(--background_white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name_team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title_text); 
}

.profeshinal {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--text_basic);
}
/*======footer=========*/
.footer {
    background-color: var(--background_first);
}

.adress_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--first_color);
}
.footer_color {
    color: var(--footer_color);
}

/*=======portfolio======*/
.nav_portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title_text);
    
}

.button_portfolio {
    font-family: var(--main_fond);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title_text);
    
    background: var(--background_second);
    border-radius: 4px;
}

.nav_portfolio :focus,
.nav_portfolio :hover {
    background-color: var(--accent_color);
    color: var(--first_color);
}

.project_card {
    background: var(--first_color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.project_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title_text);
}

.project_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text_basic);
}

